header {

    .header {


        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4rem;

        nav {
            ul {
                display: flex;
                gap: 2rem;

                li {
                    a {
                        color: black;
                        font-size: 15px;
                    }
                }
            }
        }
        .icons{
            display: flex;
            gap: 1.5rem;
            font-size: 1.2rem;
        }
    }

}